<section id="hud-bereich">
    <div class="container">
        <div class="row">
            <div id="hud-container">
                <app-session-form></app-session-form>
            </div>
        </div>
    </div>
</section>