<section id="game-options-bereich">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-game-detail></app-game-detail>
            </div>
        </div>
        <div *ngIf="isHost()" class="row">
            <div class="col buttonBox">
                <a [routerLink]="['/lobby']" class="submitBtn">Spielregeln anpassen</a>
            </div>
        </div>
    </div>
</section>