.game-Btn-position{
    display: flex;
    margin: 25px auto 25px auto;
   max-width: 600px;
}

.startGameBtn, .cancelGameBtn {
    width: 200px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    border: none;
    border-radius: 1000px;
    font-size: 20px;
    outline: none;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    text-align: center;
    transition: all 0.25s ease;
}


.startGameBtn{
    border: 2px solid #1ECD97;
    color: #1ECD97;
    background: white;
}

.cancelGameBtn{
    border: 2px solid #CC421F;
    background-color: white;
    color: #CC421F;
}

.startGameBtn:hover{
    color: white;
    background: #1ECD97;
}

.cancelGameBtn:hover{
    background: #CC421F;
    color: white;
}