<section id="thumbnail-bereich">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="thumbnail-position">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"
                        (change)="setIndex.emit($event.index)" (change)="getRules.emit()"></ngx-gallery>
                </div>
            </div>
        </div>
    </div>
</section>
