/** 
FARBEN: 

Blau: #1F4E8C
Dunkel-Grau: #3D3F45
Hell-Grau: #E5E5E5
Rot: #A62C21

**/

* {
  box-sizing: border-box;
}

html {
  background-color: #0a0a0a;
}

:focus {
  outline: none;
  box-shadow: 0 0 1px 2px #E5E5E5, 0 0 10px #E5E5E5;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #E5E5E5;
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

/** GENERELLES **/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
  
.centered-text {
    text-align: center;
}
  
.centered-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
  
.space {
    width: 100%;
    padding: 1rem;
    background-color: #0a0a0a;
}

/** GRID-SYSTEM **/

#mainGrid {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
  
  /* .border, .border * {
    border: 1px solid #A62C21;
  } */
  
  .row::after {
    content: "";
    clear: both;
    display: block;
}
  
  [class^="col"] {
    float: left;
    padding: .8rem;
}

/** TOP **/

#top {
  background-color: #0a0a0a;
  color: #FFF;
}

#top .col:first-of-type {
  text-align: center;
}

@media(max-width: 840px) {
  #top {
    background-color: #3D3F45;
  }
}

/** INTRO-BEREICH **/

#intro-bereich {
    padding: 1rem 0;
    transition-property: max-height padding;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    color: #E5E5E5;
    position: relative;
    overflow: hidden;
    border-top: 1px #3D3F45 solid;
    border-bottom: 1px #3D3F45 solid;
    box-shadow: 
          inset 0px 20px 12px -19px #000,
          inset 0px -20px 12px -19px #000; 
  }

  .bigIntro {
    max-height: 20rem;
  }

  .smallIntro {
    max-height: 11rem;
  }
  
  #intro-bereich > .container {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
  
  #intro-bereich:hover > .container {
    opacity: 1;
  }
  
  #intro-bereich:hover {
    transition-delay: 1.2s;
    max-height: 1200px;
    padding: 3rem 0;
  }

  .backgroundImg {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
    height: 100%;
    width: auto;
  }

  #intro-bereich .backgroundImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .bigIntro .container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .smallIntro .container img {
    height: 50%;
    width: 50%;
    object-fit: cover;
  }
  
  #intro-bereich .row {
    width: 100%;
  }
  
  .bigIntro .row:nth-of-type(2) > .col {
    background-color: #3D3F45;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
  
  }

  .smallIntro .row:nth-of-type(2) > .col {
    display: none;
  }
  
  #intro-bereich .col {
    margin: 0 4rem;
  }
  
  #intro-bereich h2 {
    margin-bottom: 0;
  }
  
  @media(max-width: 830px) {
    #intro-bereich video {
      width: 100%;
    }
  }
  
  @media(max-width: 620px) {
    #intro-bereich .col {
      margin: 0 2rem;
    }
    #intro-header {
      margin: 0;
      padding: 0;
    }
  }
  
  @media(max-width: 480px) {
    #intro-bereich .col {
      margin: 0 .10rem;
    }
  }


  /** LOGIN-BEREICH **/

.login-form-position{
  max-width: 300px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.login-box {
  padding: 2rem;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/** VIDEO **/

video {
  position: fixed;
  z-index: -100;
  width: 120%;
  height: auto;
  top: 14rem;
}

@media(max-width: 840px) {
  video {
    display: none;
  }
}

@media(max-width: 1235px) {
  video {
    width: 150%;
  }
}

@media(max-width: 990px) {
  video {
    width: 180%;
  }
}

 /** CHOICE-BEREICH **/

#choice-bereich {
  padding: 3rem 2rem;
}

#choice-bereich a:link {
  color: #E5E5E5;
}

#choice-bereich a:visited {
  color: #E5E5E5;
}

#choice-bereich a:active {
  color: #E5E5E5;
}

#choice-text {
  margin-bottom: 1rem;
}

#choice-bereich h3, #choice-bereich p {
  margin: 0;
}

.choiceContainer {
  border-radius: 10px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.25s;
}

.choiceContainer:hover {
  background-color: #0a0a0a;
  color: #E5E5E5;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
  
  .icon-container {
    background-color: #03e9f4;
  }
}

.choiceContainer:active {
  background-color: #3D3F45;
  opacity: 0.5;
}

.icon-container {
  position: relative;
  transition-property: background-color;
  transition-duration: 0.25s;
  width: auto;
  height: auto;
  padding: .8rem;
  background-color: #E5E5E5;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.icon-container img {
  height: 60px;
  width: auto;
}

@media(max-width: 730px) {
  #choice-bereich {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media(max-width: 480px) {
  #choice-bereich {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/** GAME-SELECT-BEREICH **/

#thumbnail-bereich col:nth-of-type(1){
  min-width: 500px;
}

.thumbnail-position{
  display: flex;
  justify-content: center;
}

.ngx-gallery { 
  display: inline-block; margin-bottom: 20px;
}

.buttonBox {
  text-align: center;
}

.buttonBox a:link {
  margin: 0 1rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.buttonBox a.submitBtn:link {
  color: #03e9f4;
}

.buttonBox a.submitBtn:active {
  color: #E5E5E5;
}

.buttonBox a.submitBtn:visited {
  color: #03e9f4;
}

.buttonBox a.submitBtn:hover {
  color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.buttonBox a.cancelBtn:link {
  color: #A62C21;
}

.buttonBox a.cancelBtn:active {
  color: #E5E5E5;
}

.buttonBox a.cancelBtn:visited {
  color: #A62C21;
}

.buttonBox a.cancelBtn:hover {
  color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px #A62C21,
              0 0 25px #A62C21,
              0 0 50px #A62C21,
              0 0 100px #A62C21;
}

/** GAME-DETAIL-BEREICH **/

#bannerLogo {
  width: 100%;
  height: auto;
}

#game-detail-bereich #detail-container {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
  padding: 1rem;
}

#game-detail-bereich #detail-container:hover {
  background-color: #0a0a0a;
  border-radius: 10px;
  box-shadow: 0 25px 25px rgba(0,0,0,.6),
              0 25px 25px rgba(0,0,0,.6);
}

/** PLAYER-LIST-BEREICH **/

#playerlist-bereich .playerReadyBox.player-container {
  background: #001f1f;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
}

#playerlist-bereich .playerReadyBox.player-container:hover {
  background-color: #001f1f;
  box-shadow: 0 25px 25px rgba(0,0,0,.6),
              0 25px 25px rgba(0,0,0,.6);
}

#playerlist-bereich .playerBox.player-container {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
}

#playerlist-bereich .playerBox.player-container:hover {
  background-color: #0a0a0a;
  box-shadow: 0 25px 25px rgba(0,0,0,.6),
              0 25px 25px rgba(0,0,0,.6);
}

.playerReadyBox {
  position: relative;
  width: 100%;
  display: inline-block;
  color: #03e9f4;
  text-decoration: none;
  overflow: hidden;
}

.playerBox {
  position: relative;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
}

#playerlist-bereich .buttonBox a.cancelBtn {
  background-color: #0a0a0a;
  border-radius: 5px;
}

#playerlist-bereich .buttonBox a.cancelBtn:hover {
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 1px #A62C21,
              0 0 5px #A62C21,
              0 0 10px #A62C21,
}

#playerlist-bereich .buttonBox a.submitBtn {
  background-color: #0a0a0a;
  border-radius: 5px;
}

#playerlist-bereich .buttonBox a.submitBtn:hover {
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 1px #03e9f4,
              0 0 5px #03e9f4,
              0 0 10px #03e9f4,
}

.playerReadyBox span {
  position: absolute;
  display: block;
}

.playerReadyBox span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: ready-anim1 1s linear infinite;
}

@keyframes ready-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.playerReadyBox span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: ready-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes ready-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.playerReadyBox span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: ready-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes ready-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.playerReadyBox span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: ready-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes ready-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

 /** FOOTER **/

 #footer {
  color: #FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-space {
  width: 100%;
  padding: 4rem;
}

@media(max-width: 840px) {
  #footer {
    display: none;
  }
}

/** GAME-BEREICH **/

#hud-bereich #hud-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;
  padding: 1rem;
  font-size: 13px;
}

#hud-bereich #hud-container:hover {
  background-color: #0a0a0a;
  border-radius: 10px;
  box-shadow: 0 25px 25px rgba(0,0,0,.6),
              0 25px 25px rgba(0,0,0,.6);
}