<section *ngIf="!gameMode" id="top">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{title}}</h2>
                <span *ngIf="!loggedIn"></span>
            </div>
        </div>
    </div>
</section>
<app-banner  *ngIf="!gameMode"></app-banner>
<video  *ngIf="!gameMode" playsinline autoplay [muted]="true" loop id="bgvid">
    <source src="../assets/videos/DiceRollingBackground.mp4" type="video/mp4">
</video>
<div [@triggerName]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<div *ngIf="!gameMode" id="footer-space"></div>
<section *ngIf="!gameMode" id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>&copy; Palor-Game-Hub (Leon Friedrich, Florian Semeras, Peter Hagemann, Nick Mende, Jirko Albersmeier) 2021</p>
            </div>
        </div>
    </div>
</section>
