<div class="container login-form-position">
    <div *ngIf="sessionExists" class="row">
        <div class="col centered-text">
            <p [style.color]="errColor">Eine Spielesitzung mit diesem Namen existiert bereits!</p>
        </div>
    </div>
    <div class="row">
        <div class="col login-box">
            <form #createForm="ngForm" (ngSubmit)="onCreateSubmit(createForm.value)">
                <div class="user-box">
                    <input [(ngModel)]="nicknameStorage" name="nickname" type="text"
                        placeholder="Bitte einen Benutzernamen auswählen" />
                        <label for="nickname">Nickname</label>
                </div>
                <br>
                <div class="user-box">
                    <input [(ngModel)]="sessionStorage" name="sessionName" type="text"
                        placeholder="Bitte einen Sitzungsnamen auswählen" />
                        <label for="sessionName">Sitzungsname</label>
                </div>
                <a [routerLink]="['/create']" (click)="onCreateSubmit(createForm.value)">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Spielesitzung erstellen
                  </a>
            </form>
        </div>
    </div>
    <br>
    <div class="buttonBox">
        <a class="cancelBtn" [routerLink]="['/home']">&laquo;Zurück&laquo;</a>
    </div>
</div>