<section id="game-detail-bereich">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="detail-container">
                    <div *ngIf="!detailObjects[_index].getLink()" class="centered-text">
                        <h3>{{detailObjects[_index].getTitle()}}</h3>
                    </div>
                    <div *ngIf="detailObjects[_index].getLink()" class="centered-flex">
                        <img id="bannerLogo" [src]="detailObjects[_index].getLink()" alt="Logo">
                    </div>
                    <p><b>Beschreibung:</b> <br>{{detailObjects[_index].getDesc()}}</p>
                    <p><b>Spieleranzahl:</b> {{detailObjects[_index].getPlayerCount()}}</p>
                </div>
            </div>
        </div>
    </div>
</section>