<section id="game-select-bereich">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-thumbnail (getIndex)="getIndex()" (setIndex)="setIndex($event)" (getRules)="getRules()"></app-thumbnail>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <app-game-detail [index]="index"></app-game-detail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="buttonBox">
                                <a [routerLink]="['/select']" class="submitBtn" (click)="chooseGame()">Spiel wählen</a>
                                <a [routerLink]="['/create']" class="cancelBtn">Abbrechen</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>