<section *ngIf="isHome" id="intro-bereich" class="bigIntro">
    <div class="backgroundImg centered-flex">
        <img src="../../assets/pictures/madn_background.jpg" alt="Blured Background">
    </div>
    <div class="container">
        <div class="row centered-flex">
            <a [routerLink]="['/home']">
                <div class="banner-position">
                    <img src="../../assets/pictures/PGH-LogoAlpha.png" alt="Palor-Game-Hub Logo">
                </div>
            </a>
        </div>
        <div class="row centered-flex">
            <div class="col" id="intro-header">
                <h2 class="centered-text">Willkommen im Palor-Game-Hub</h2>
                <p class="centered-text">Lasst uns ein Spiel spielen! Diese Plattform ist für alle gedacht, die schnell und unkompliziert - am besten in realer Gemeinschaft - digital ein Gesellschaftsspiel ihrer Wahl spielen möchten. Als lokaler Multiplayer soll der Palor Game Hub die Spielesammlung für jede Gelegenheit sein, die auf allen Geräten spielbar ist. Viel Spaß! </p>
            </div>
        </div>
    </div>
</section>

<section *ngIf="!isHome" id="intro-bereich" class="smallIntro">
    <div class="backgroundImg centered-flex">
        <img src="../../assets/pictures/madn_background.jpg" alt="Blured Background">
    </div>
    <div class="container">
        <div class="row centered-flex">
            <a [routerLink]="['/home']">
                <div class="banner-position">
                    <img src="../../assets/pictures/PGH-LogoAlpha.png" alt="Palor-Game-Hub Logo">
                </div>
            </a>
        </div>
        <div class="row centered-flex">
            <div class="col" id="intro-header">
                <h2 class="centered-text">Willkommen im Palor-Game-Hub</h2>
                <p class="centered-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, iure culpa. Earum unde quos fugit quidem, et laboriosam qui possimus harum consectetur doloribus incidunt ab. Eligendi fugit ea deserunt quas?</p>
            </div>
        </div>
    </div>
</section>