<section id="choice-bereich">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <a [routerLink]="['/create']">
                    <div class="container choiceContainer">
                        <div class="row">
                            <div class="col centered-flex">
                                <div class="icon-container">
                                    <img src="../../assets/pictures/create.png" alt="Session erstellen-Icon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><h3 class="centered-text">Session erstellen</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['/join']">
                    <div class="container choiceContainer">
                        <div class="row">
                            <div class="col centered-flex">
                                <div class="icon-container">
                                    <img src="../../assets/pictures/join.png" alt="Session beitreten-Icon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><h3 class="centered-text">Session beitreten</h3></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>