<section id="lobby-bereich">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-session-form></app-session-form>
            </div>
            <div class="col">
                <app-player-list></app-player-list>
            </div>
            <div class="col">
                <app-game-options></app-game-options>
            </div>
        </div>
    </div>
</section>
