<section id="playerlist-bereich">
    <div class="container">
        <div class="row">
            <div class="col">
                <div *ngIf="!myPlayer.getPlayerReadyState()" class="playerBox player-container" (onCreate)="callSetScreen()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="container">
                        <div class="row">
                            <div class="col centered-text">
                                <p><b *ngIf="isHost()" style="color: #E2B007;">&#9813; &nbsp;</b><b>{{myNickname}}</b></p>
                            </div>
                            <div class="col">
                                <div class="buttonBox">
                                    <a [routerLink]="['/lobby']" (click)="setNewReadyState()" class="submitBtn">Bereit &#10003;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="myPlayer.getPlayerReadyState()" class="playerReadyBox player-container" (onCreate)="callSetScreen()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="container">
                        <div class="row">
                            <div class="col centered-text">
                                <p><b *ngIf="isHost()" style="color: #E2B007;">&#9813; &nbsp;</b><b>{{myNickname}}</b></p>
                            </div>
                            <div class="col">
                                <div class="buttonBox">
                                    <a [routerLink]="['/lobby']" (click)="setNewReadyState()" class="cancelBtn">Nicht Bereit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div *ngFor="let player of players" class="row">
            <div *ngIf="player.getPlayerReadyState()" class="playerReadyBox player-container" (onCreate)="callSetScreen()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="container">
                    <div class="row">
                        <div class="col centered-text">
                            <p>
                                <b *ngIf="player.getPlayerPermission() == 0" style="color: #E2B007;">&#9813; &nbsp;</b><b>{{player.getPlayerName()}}</b>
                            </p>
                        </div>
                        <div class="col">
                            <div class="buttonBox">
                                <a *ngIf="isHost()" [routerLink]="['/lobby']" class="cancelBtn">Kick</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!player.getPlayerReadyState()" class="playerBox player-container" (onCreate)="callSetScreen()">
                <div class="container">
                    <div class="row">
                        <div class="col centered-text">
                            <p>
                                <b *ngIf="player.getPlayerPermission() == 0" style="color: #E2B007;">&#9813; &nbsp;</b><b>{{player.getPlayerName()}}</b>
                            </p>
                        </div>
                        <div class="col">
                            <div class="buttonBox">
                                <a *ngIf="isHost()" [routerLink]="['/lobby']" class="cancelBtn">Kick</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>