<section id="session-form-bereich">
    <div class="container buttonBox">
        <div class="row">
            <div class="col">
                <p><b>Deine Session-ID:</b> {{sessionID}}</p>
                <p><b>Session-Passwort:</b> {{sessionPasswort}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a *ngIf="isHost()" [routerLink]="['/lobby']" class="cancelBtn">Session beenden</a>
                <a *ngIf="!isHost()" [routerLink]="['/lobby']" class="cancelBtn">Session verlassen</a>
            </div>
        </div>
    </div>
</section>