<div class="container login-form-position">
    <div class="row">
        <div class="col login-box">
            <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
                <div class="user-box">
                    <input [(ngModel)]="nicknameStorage" name="nickname" type="text"
                        placeholder="Bitte einen Benutzernamen auswählen" />
                    <label for="nickname">Nickname</label>
                </div>
                <div class="user-box">
                    <input ngModel name="sessionID" type="text" placeholder="SessionID eingeben" />
                    <label for="sessionID">Session ID</label>
                </div>
                <div class="user-box">
                    <input ngModel name=sessionPw type="password" placeholder="Sessionpasswort eingeben" />
                    <label for="sessionPw">Passwort</label>
                </div>
                <p>{{errMessage}}</p>
                <a [routerLink]="['/join']" (click)="onLoginSubmit(loginForm.value)">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Beitreten
                </a>
            </form>
        </div>
    </div>
    <br>
    <div class="buttonBox">
        <a class="cancelBtn" [routerLink]="['/home']">&laquo;Zurück&laquo;</a>
    </div>
</div>